<!DOCTYPE html>
<html>
<head>
  <title>Jinja2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='materialize/css/materialize.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/css/all.min.css')}}"> -->
</head>
<body>
<h1>
  FLASK BOOK {{ username }}
</h1>
</body>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>
 -->
</html>